h1{
    margin-top: 20px;
    text-align: center;
    color: #000;
    text-align: center;
    font-size: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.container{
    width: 92%;
    display: flex;
    margin: 20px 50px;
    gap: 50px;
}
.container > .cardSection{
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 35px;
}
.cardSection > .card{
    margin: 5px 0px;
    width: 250px;
    height: 448px;
    border: 1px solid #000;
}
.cardSection > .card > img{
    width: 250px;
    height: 310px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.card > .itemDetails{
        margin: 15px;
        display: flex;
        gap: 5px;
        flex-direction: column;
        color: #000;
        font-size: 24px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.card > button {
    width: 100%;
    height: 45px;
    background: #000;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
.container > .checkoutList{
    width: 30%;
    height: 850px;
    background: #000;
    padding: 50px 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #FFF;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.checkoutList > p{
    margin-bottom: 15px;
}
.title-price{
    display: flex;  
    gap: 120px;
}
.title-price > div {
    padding: 5px 0;
}
#list > div > p{
    padding: 5px 0;
}
.checkoutList > #total{
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    padding: 16px 0;
    margin-top: 15px;
}
#total > div{
    display: flex;
    gap: 200px;
    padding: 5px;
    font-weight: 700;
}
.checkoutList > button{
    width: 334px;
    height: 58px;
    background: #FFF;
    margin-top: 35px;
    color: #000;
    text-align: center;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}